.sidebar {
  display: flex;
  /* min-height: 100vh;
  min-width: 25vh;
  height: 100%;
  width: 25vw; */
  flex-direction: column;
  background-color: #141422;
  text-align: center;
}
.imageContainer {
  width: 100%;
  margin-bottom: 1px;
  /* border-bottom: 1px solid lightcoral; */
}
.galleryImage {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
}
.flex {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}
.upload-btn-wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
