.momentContainer {
  display: flex;
  flex-direction: column;
}
.display-block {
  display: flex;
  justify-content: center;
}
.moment {
  margin: 3%;
  display: flex;
  justify-content: space-between;
}

.moment:hover {
  background: darken(#eee, 5%);
}

.placeholder {
  background: rgb(255, 240, 120);
}
.placeholder::before {
  content: "Drop here";
  color: rgb(225, 210, 90);
}
