.momentContainer {
  display: flex;
  flex-direction: column;
}
.display-block {
  display: flex;
  justify-content: center;
}
.moment {
  margin: 3%;
  display: flex;
  justify-content: space-between;
}
